.single-doctor {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  min-height: 440px;
}
.single-doc-img {
  min-height: 290px;
}
.img-hover {
  transition: all ease-in 0.5s;
}
.img-hover:hover {
  transform: scale(1.1);
}
